<aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
        <div class="aside-content-wrapper">
    
            <div class="aside-content bg-primary-500 text-auto">
    
                <div class="aside-toolbar">
    
                    <div class="logo">
                        <span class="logo-icon">F</span><span class="logo-text">FUSE</span>
                    </div>
    
                    <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block"
                            data-fuse-aside-toggle-fold>
                        <i class="icon icon-backburger"></i>
                    </button>
    
                </div>
    
                <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">
                    <li class="subheader">
                        <span>APPS</span>
                    </li>                           
    
                    <li class="nav-item">
                        <a class="nav-link ripple " href="http://localhost:8080/{{username}}/dashboard"
                        data-page-url="/apps-file-manager.html">
                            <i class="icon s-4 icon-account-box"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link ripple" href="http://localhost:8080/{{username}}/files"
                            data-page-url="/apps-file-manager.html">
                            <i class="icon s-4 icon-folder"></i>
                            <span>Files</span>
                        </a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link ripple " href="http://localhost:8080/{{username}}/codeeditor"
                        data-page-url="/apps-file-manager.html">
                            <i class="icon s-4 icon-checkbox-marked"></i>
                            <span>Code Editor</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>