<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Change Password - Code Manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href={{url_for('static',filename='Styles/login/styles/style.css')}}>
</head>
<body>
    <div class="app layout-fixed-header bg-white usersession">
        <div class="full-height">
            <div class="center-wrapper">
                <div class="center-content">
                    <div class="row no-margin">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                            <form role="form" onsubmit="return validateForm()" name="chagepassform" method="post" action="" class="form-layout">
                                <div class="text-center mb15">
                                    <img src={{url_for('static',filename='Styles/login/images/logo.png')}}>
                                </div>
                                <p class="text-center mb30">Create your account.</p>
                                <div class="for-inputs">
                                    {% for error in errors%}
                                    <label style="color:red;">{{error}} .</label><br>
                                    {% endfor %}
                                    <input type="password" class="form-control input-lg" name="password" placeholder="New Password">
                                    <input type="password" class="form-control input-lg" name="confirmPassword" placeholder="Confirm Password">
                                </div>
                                <button class="btn btn-success btn-block btn-lg mb15" type="submit">Change Password</button>
                                <p class="text-left"> Already have an Account? <a href={{ url_for('login') }}>Sign In</a> · <a href="{{ url_for('forgot_password') }}">Forgot your password?</a> </p>
                                <p class="text-left">By clicking signin up, you agree to our<a href="javascript:;">Terms of services &amp; Policies</a>.</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        function validateForm() {
            var password = document.forms["chagepassform"]["password"].value;
            var confirmPassword = document.forms["chagepassform"]["confirmPassword"].value;

            if (password == "") {
                alert("Please enter a password");
                return false;
            } else {
                if (password != confirmPassword) {
                    alert("Password is not match.");
                    return false;
                }
            }
        }
    </script>
</body>
</html>