 <html class=no-js>
<head>
    <meta charset="utf-8">
    <title>Login - Cloud Compiler</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel=stylesheet href= {{url_for('static',filename='Styles/login/styles/style.css')}} />
</head>
<body>
    <div class="app layout-fixed-header bg-white usersession">
        <div class="full-height">
            <div class="center-wrapper">
                <div class="center-content">
                    <div class="row no-margin">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                            <form role="form" onsubmit="return validateForm()" method="post" name="loginform" action="" class="form-layout">
                                <div class="text-center mb15"> <img src={{url_for('static',filename='Styles/login/images/logo.png')}}> </div>
                                <p class="text-center mb30">Welcome to Urban. Please sign in to your account</p>
                                <div class="form-inputs">
                                    {% for error in errors%}
                                    <label style="color:red;">{{error}} .</label><br>
                                    {% endfor %}
                                    <input type="email" class="form-control input-lg" name="email" placeholder="Email Address">
                                    <input type="password" class="form-control input-lg" name="password" placeholder="Password">
                                </div>
                                <button class="btn btn-success btn-block btn-lg mb15" type="submit"> <span>Sign in</span> </button>
                                <p> <a href={{ url_for('signup') }}>Create an account</a> · <a href="{{ url_for('forgot_password') }}">Forgot your password?</a> </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        function validateForm() {
            var password = document.forms["loginform"]["password"].value;
            var email = document.forms["loginform"]["email"].value;
            if (email.trim() == "") {
                alert("please enter email address");
                return false;
            }
            if (validateEmail(email) == false) {
                alert("Please enter valid email address.");
                return false;
            }
            if (password == "") {
                alert("Please enter a password");
                return false;
            }
        }
    </script>
</body>
</html>