<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Congratulation - Cloud Compiler</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href={{url_for('static',filename='Styles/login/styles/style.css')}}>
</head>
    <body>
        <div class="app layout-fixed-header bg-white usersession">
            <div class="full-height">
                <div class="center-wrapper">
                    <div class="center-content">
                        <div class="row no-margin">
                            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                                <form role="form" method="get" action="/login" class="form-layout">
                                    <div class="text-center mb15"> <h1>Congratulation..!</h1></div>
                                    <h2 class="text-center mb30">{{ h2tag_msg }}</h2>
                                    <div class="form-inputs">
                                        <button class="btn btn-success btn-block btn-lg mb15" type="submit"> <span>Go To Login Page</span> </button>
                                        <!--<p> <a href="extras-signup.html">Create an account</a> · <a href="extras-forgot.html">Forgot your password?</a> </p>-->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
